sudo: false
before_script:
- export CLOUD_SDK_REPO="cloud-sdk-$(lsb_release -c -s)"
- echo "deb http://packages.cloud.google.com/apt $CLOUD_SDK_REPO main" | sudo tee -a /etc/apt/sources.list.d/google-cloud-sdk.list
- curl https://packages.cloud.google.com/apt/doc/apt-key.gpg | sudo apt-key add -
- sudo apt-get update && sudo apt-get install google-cloud-sdk
- gcloud auth activate-service-account --key-file=account_file.json
- gcloud config set project keller-williams
- gsutil cp gs://kwfr-bits/* .
- unzip packer_1.3.1_linux_amd_64.zip
- sudo mv packer /usr/local/bin

before_install:
- openssl aes-256-cbc -K $encrypted_7df099107e0f_key -iv $encrypted_7df099107e0f_iv
  -in account_file.json.enc -out account_file.json -d
script:
- packer build -var serial=$(tty) build.json
